# Ignore dependencies installed on host
node_modules
npm-debug.log

# Next.js output (should be generated in container)
.next
out

# macOS
.DS_Store

# Git
.git
.gitignore
.gitmodules
.hg

# IDEs / Editors
.vscode
.idea

# Logs
*.log
logs
