@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --english-violet: #44355B;
  --dark-purple: #31263E;
  --raisin-black: #221E22;
  --red-crayola: #EE4266;
  --sunglow: #FFD23F;
}

@theme {
  --color-background: var(--raisin-black);
  --color-foreground: var(--sunglow);

  --color-english-violet: var(--english-violet);
  --color-dark-purple: var(--dark-purple);
  --color-raisin-black: var(--raisin-black);
  --color-red-crayola: var(--red-crayola);
  --color-sunglow: var(--sunglow);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */



body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}
